:host{
    --colore: #2d7b89;
    --colore-info: color-mix(in srgb, var(--colore) 30%, transparent 70%);
    display: flex;
    border-radius: .5rem;
    align-items: center;
    gap: .33rem;
    background-color: var(--colore-info);
    color: var(--colore);
    padding: .5rem .75rem .5rem .5rem;
    font-size: .75rem;
    transition: all .5s ease-out;
    border-radius: 2rem;
    border: 1px solid var(--colore);
}

ion-icon{
    font-size: 1.4rem;
}