div{
    display: flex;
    border-radius: .5rem;
    align-items: center;
    gap: 1rem;
    background-color: #000;
    color: #FFF;
    padding: .5rem;
    font-size: .75rem;
}

ion-icon{
    font-size: 1.4rem;
}