<div class="flex-row">
  <input type="text" name="n1" id="n1" autocomplete="off" placeholder="#" (input)="CambiaInput(0)" #n0 (keydown)="GestisciKey($event, 0)" [(ngModel)]="sinc.caratteriCodice[0]" (paste)="Incolla($event, 0)">
  <input type="text" name="n0" id="n0" autocomplete="off" placeholder="#" (input)="CambiaInput(1)" #n1 (keydown)="GestisciKey($event, 1)" [(ngModel)]="sinc.caratteriCodice[1]" (paste)="Incolla($event, 1)">
  <input type="text" name="n2" id="n2" autocomplete="off" placeholder="#" (input)="CambiaInput(2)" #n2 (keydown)="GestisciKey($event, 2)" [(ngModel)]="sinc.caratteriCodice[2]" (paste)="Incolla($event, 2)">
  <!-- <div class="separatore"></div> -->
  <input type="text" name="n3" id="n3" autocomplete="off" placeholder="#" (input)="CambiaInput(3)" #n3 (keydown)="GestisciKey($event, 3)" [(ngModel)]="sinc.caratteriCodice[3]" (paste)="Incolla($event, 3)">
  <input type="text" name="n4" id="n4" autocomplete="off" placeholder="#" (input)="CambiaInput(4)" #n4 (keydown)="GestisciKey($event, 4)" [(ngModel)]="sinc.caratteriCodice[4]" (paste)="Incolla($event, 4)">
  <input type="text" name="n5" id="n5" autocomplete="off" placeholder="#" (input)="CambiaInput(5)" #n5 (keydown)="GestisciKey($event, 5)" [(ngModel)]="sinc.caratteriCodice[5]" (paste)="Incolla($event, 5)">
</div>