.flex-row{
    justify-content: space-between;
    gap: .5rem;
}

.separatore{
    box-sizing: content-box;
    position: relative;
    width: 2ch;
    user-select: none;
    caret-color: transparent;
}

.separatore::before{
    --altezza: .3rem;
    content: '';
    position: absolute;
    display: block;
    background-color: var(--sfondo);
    height: var(--altezza);
    border-radius: .125rem;
    left: 0;
    right: 0;
    top: calc(50% - var(--altezza) / 2);
}