<form #formCambio>
  <img src="assets/google-logo.svg" class="logo"/>
  <span class="wrapper-transizione flex-col">
    <span class="flex-col jc-c">
      <h1>Ancora un passo...</h1>
      <div class="piccolo">
        <span>Per motivi di sicurezza devi cambiare la password</span>
      </div>
    </span>
  </span>
  @if(sinc.giorniMancanti && sinc.giorniMancanti > 0)
  {
    <Info [messaggio]="'Tra ' + sinc.giorniMancanti + ' giorn' + (sinc.giorniMancanti == 1 ? 'o' : 'i') + ' sarà obbligatorio'" />
  }
  <div class="form-item">
    <InputPassword
      testo-label="Password"
      [mockup]="true"
    />
  </div>
  <div class="form-item">
    <InputPassword
      testo-label="Conferma password"
      [messaggio-errore]="sinc.errori['conferma']"
      [mockup]="true"
    />
  </div>

  <div class="form-row">
    <button type="button" [disabled]="!sinc.valido" class="btn-accento">Continua</button>
    @if (sinc.giorniMancanti && sinc.giorniMancanti > 0) {
      <button type="button" >Salta</button>
    }
  </div>
  
</form>