<div class="filterDiv flex-col" id="filterOperatore">
  <div>Operatore</div>
  <div id="wrapperFiltriGenere" class="flex-col">
    <div class="lbl">Gender</div>
    <div class="cont-radio flex-row">
      @for (gender of ['Maschio', 'Femmina', 'Tutti']; track $index){
        <RadioButton [label]="gender" />
      }
    </div>
  </div>
  <hr>
  <div class="flex-col cont-filtri">
    <div class="lbl">Utente</div>
    @if(operatori){
      <Dropdown 
        icona="person"
        [opzioni]="operatori"
        [(ngModel)]="mapService.utenteFiltrato"
      />
    }
  </div>
  <div  class="flex-col cont-filtri">
    @for (operatore of mapService.selectedOperators; track $index){
      <app-selection [selection]="operatore" (selectionRemoved)="onSelectionRemoved($event)"></app-selection>
    }
  </div>
</div>
<div class="filterDiv" id="filterPerizia">
  <div>Perizia</div>
  <div class="lbl">
    Data
  </div>
  <!-- <div id="wrapperInd">
    <app-radio-button [width]="'1.3rem'" [flag]="true" [label]="'chevron-back-outline'"></app-radio-button>
    <app-radio-button [width]="'1.3rem'" [flag]="true" [label]="'reorder-two-outline'"></app-radio-button>
    <app-radio-button [width]="'1.3rem'" [flag]="true" [label]="'chevron-forward-outline'"></app-radio-button>
  </div> -->
  <div id="wrapperFiltroData">
    <!-- <app-select [label]="day" [options]="utilityService.elencoGiorni"></app-select>
    <app-select [label]="month" [options]="utilityService.elencoMesi" (optionClicked)="onMonthClicked($event)"></app-select>
    <app-select [label]="year" [options]="utilityService.elencoAnni"></app-select> -->
    <p-calendar [(ngModel)]="rangeDates" [iconDisplay]="'input'" [showIcon]="true" selectionMode="range" dateFormat="dd/mm/yy" (onClose)="datePicked()"></p-calendar>
  </div>
</div>
