:host{
    height: 40%;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > *:not(.icona){
        flex-grow: 1;
        border: 1px solid #CCC;
    }
} 

:host > .icona{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    top: -10%;
    
    span{
        box-shadow: 0 0 .5rem #CCC;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: white;
        z-index: 10;

        ion-icon{
            font-size: 2rem;
        }
    }
}

.filterDiv{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
    position: relative;
    gap: 1rem;
}

hr{
    height: 10px;
    color: #CCC;
}


.filterDiv > div:nth-child(1){
    width: 100%;
    height: 15%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accento);
    font-weight: bold;
}
// .inputVoice{
//     position: relative;
//     width: 1.3rem;
//     height: 1.3rem;
//     font-size: 0.8rem;
//     font-weight: bold;
//     padding: 0;
// }
.cont-filtri{
    position: relative;
    width: 100%;
    height: 10%;
    gap: .5rem;

    Dropdown{
        width: 100%;
        min-width: 10ch;
    }
}

.lbl{
    font-size: 1rem;
    color: var(--accento);
    width: 100%;
}

#wrapperFiltriGenere{
    gap: .5rem;

    & > div:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: stretch;
        gap: 1rem;
        flex-direction: row;
        
        RadioButton{
            flex-grow: 1;

            &:last-child{
                width: 100%;
            }
        }
    }

    .cont-radio{
        flex-wrap: wrap;
    }
}

#wrapperSelect{
    width: 100%;
    height: 50%;
    position: absolute;

}

#wrapperOperatoriSelezionati{
    border-radius: 0.25rem;
    border: solid 1px lightgray;
    background-color: #f2f2f2;
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 0.5rem;
}

#wrapperOperatoriSelezionati::-webkit-scrollbar {
    width: 10px;
}
  
#wrapperOperatoriSelezionati::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
#wrapperOperatoriSelezionati::-webkit-scrollbar-thumb {
    background: #888;
}
  
#wrapperOperatoriSelezionati::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#wrapperFiltroData{
    width: 70%;
    left: 15%;
    height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 0.5rem;    
}
#wrapperInd{
    width: 70%;
    left: 15%;
    height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
// #wrapperInd span{
//     width: 1.3rem;
//     height: 1.3rem;
//     font-weight: bold;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;
// }

