<form class="flex-col finto" #form>

  <img class="logo" src="assets/google-logo.svg"/>
  <span class="flex-col jc-c">
    <h1>Recupero Credenziali</h1>
    <span class="piccolo flex-row jc-c">Ti invieremo una mail per il recupero dei dati</span>    
  </span>

  <div class="form-item">
    <label>E-Mail</label>
    <input type="text" disabled>
  </div>

  <div class="form-item">
    <button type="button" class="btn-accento" disabled>Invia</button>
    <a class="piccolo">Torna al login</a>
  </div>
  
</form>