<div id="wrapper" [ngClass]="{'appari': this.mapService.flagInfoWindow, 'disappari':!this.mapService.flagInfoWindow}">
  <!-- <span id="wrapperCoords">
    <p>Latitude: <strong>{{this.lat}}</strong></p>
    <p>Longitude: <strong>{{this.lng}}</strong></p>
  </span>
  <span id="wrapperLocation">
    <p>Location: <strong>{{this.city}}</strong></p>
  </span> -->
  <span id="wrapperMap">
    <span id="mask">
      <span id="chiudi">
        <span class="material-symbols-outlined" (click)="chiudiInfoWindow()">
          cancel
        </span>
      </span>
      <div #mapElement></div>
    </span>
  </span>
  <span id="line" [ngClass]="{'appariLinea':this.mapService.flagInfoWindow, 'disappariLinea':!this.mapService.flagInfoWindow}">
    <div [ngClass]="{'appariContent':this.mapService.flagInfoWindow, 'disappariContent':!this.mapService.flagInfoWindow}">
      <span>
        <span class="material-symbols-outlined">
          calendar_month
        </span>
        <span>{{date}}</span>
      </span>
      <span>
        <span class="material-symbols-outlined">
          directions_car
        </span>
        <span>{{travelDuration}}</span>
      </span>
      <span>
        <span class="material-symbols-outlined">
          person
        </span>
        <span>{{user}}</span>
      </span>
    </div>
  </span>
</div>
