<div>
  <span><ion-icon name="filter-outline"></ion-icon></span>
</div>
<div class="filterDiv">
  <div>Operatore</div>
  <div id="wrapperFiltriGenere">
    <div><small>Gender</small></div>
    <div>
      <span class="inputVoice"><input type="radio" name="gndChk">All</span>
      <span class="inputVoice"><input type="radio" name="gndChk">M</span>
      <span class="inputVoice"><input type="radio" name="gndChk">F</span>
    </div>
  </div>
  <div><small>Name</small></div>
  <div id="wrapperFiltriOperatore">
    <div id="wrapperSelect"><app-select #selectOperatori></app-select></div>
  </div>
</div>
