<div>
  <span><ion-icon name="filter-outline"></ion-icon></span>
</div>
<div class="filterDiv">
  <div>Operatore</div>
  <div id="wrapperFiltriGenere">
    <div><small>Gender</small></div>
    <div>
      @for (gender of elencoGenders; track $index){
        <span class="inputVoice"><app-radio-button [label]="gender"></app-radio-button></span>
      }
    </div>
  </div>
  <div><small>Name</small></div>
  <div id="wrapperFiltriOperatore">
    <app-select #selectOperatori></app-select>
  </div>
  <div id="wrapperOperatoriSelezionati">
    @for (operatore of mapService.selectedOperators; track $index){
      <app-selection [selection]="operatore" (selectionRemoved)="onSelectionRemoved($event)"></app-selection>
    }
  </div>
</div>
