<dialog #modaleElimina  id="dialogoElimina">
  <div class="flex-col al-c jc-c">
    <ion-icon name="alert-circle"></ion-icon>
    <span>
      <h1>Elimina Utent{{ selezionati.length > 1 ? 'i' : 'e' }}</h1>
      <p>
        Stai per eliminare {{selezionati.length > 1 ? selezionati.length : 'un'  }} utent{{ selezionati.length > 1 ? 'i' : 'e' }},<br>
        questa azione è irreversibile.
      </p>
    </span>
    <div class="flex-row jc-c">
      <button (click)="EliminaUtenti()" class="elimina" [class.caricamento]="inCaricamento">
        <span>Elimina</span>
        <i class="pi pi-spin pi-spinner"></i>
      </button>
      <button (click)="ChiudiModale()">Annulla</button>
    </div>
  </div>
</dialog>