<dialog #modale class="flex-row">

  <div 
    #cont
    class="cont-img flex-row al-c"
    [style]="{
      '--w-immagine': W_IMMAGINE + 'rem',
      '--gap': GAP + 'rem',
      '--padding': '5rem',
    }"
  >
    @for (img of immagini; track $index) {
      <img
        [src]="img.url" 
        style="--w-immagine: 30rem"
        [attr.commento]="img.commento"
        (click)="MuoviImmagine($index)"
      />
    }
  </div>
  <!-- </div> -->
    <!-- <div class="flex-row row-bottoni jc-c al-c">
      <button [disabled]="indice == 0" (click)="Cambia(false)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button (click)="onChiudi.emit()" class="accento">
        <ion-icon name="close" />
        Chiudi
      </button>
      <button [disabled]="indice == immagini.length - 1" (click)="Cambia(true)">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div> -->
</dialog>