<p-checkbox [binary]="true" (onChange)="Seleziona($event)" [ngModel]="tabella.selezionati.includes(utente)"/>
<span class="flex-row">
  @if(utente.pfp){
    <div class="img" [style.background-image]="'url(' + utente.pfp + ')'"></div>
  }
  @else {
    <ImmagineProfileDefault [nome]="utente.cognome"/>
  }
  <div class="flex-col">
    <p>{{utente.cognome}} {{ utente.nome }}</p>
    <span class="username">{{utente.username}}</span>
  </div>
</span>
<span>
  <div class="ruolo" [attr.ruolo]="utente.ruolo">
    {{utente.ruolo}}
  </div>
</span>
<span>{{utente.nPerizie}}</span>
<span>{{utente.assuntoIl}}</span>
<span>
  @if (utente.stato.toLowerCase() == 'attivo') {
    <ion-icon name="checkmark-circle"></ion-icon>
  }
  @else {
    <ion-icon name="close-circle"></ion-icon>
  }
  <span>{{utente.stato}}</span>
</span>