<ion-content [fullscreen]="true">
  <main>
    <form [formGroup]="form">
      <h1>Cambio Password</h1>
      <div class="form-item">
        <label for="password">Password</label>
        @if (tooltip) {
          <Tooltip/>
        }
        <input type="text" id="password" name="password" required formControlName="password" (input)="Controlla()" (focusin)="MostraTooltip()" (focusout)="tooltip = false">
      </div>
      <div class="form-item">
        <label for="conferma-password">Conferma Password</label>
        <input type="password" id="conferma-password" name="conferma-password" required formControlName="conferma">
      </div>
      @if(giorniMancanti && giorniMancanti > 0)
      {
        <Info [messaggio]="'Puoi aspettare ancora ' + giorniMancanti + ' giorni, dopo ai quali diventerà obbligatorio '" />
      }
      @else{
        <Info [messaggio]="'Per motivi di sicurezza, devi cambiare la tua password'" />        
      }
      <div class="form-item row">
        <button type="submit" [disabled]="!form.valid" (click)="Cambia()">Continua</button>
        <button type="submit" [disabled]="!giorniMancanti || giorniMancanti <= 0" (click)="router.navigate(['/home'])">Salta</button>
      </div>
      
    </form>
  </main>
</ion-content>