:host{
    --altezza-form: 40rem;
    --larghezza-pannello: 30rem;
    --br: 1.5rem;
    --durata-transizione: .5s;
}

.backdrop{
    display: grid;
    place-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--sfondo);
}

.flex-row{
    background-color: #FFF;
    border-radius: var(--br);
    overflow: clip;
}

main{
    --max-width: auto;
    height: var(--altezza-form);
    position: relative;
    display: flex;
    width: var(--max-width);
    z-index: 0;
}

.transizione{
    transition: all var(--durata-transizione) cubic-bezier(0.22, 0.61, 0.36, 1);
}

.transizione-x2{
    transition: all calc(var(--durata-transizione) / 2) cubic-bezier(0.22, 0.61, 0.36, 1);
}

.flex-row:has(Tooltip){
    overflow: visible;
}

ion-router-outlet{
    position: relative;
    display: flex;
    flex-grow: 1;
    contain: initial;
}

.img{
    --offset-interno: .5rem;
    background-color: #FFF;
    background-image: url(https://images.unsplash.com/photo-1643228995868-bf698f67d053?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    width: var(--larghezza-pannello);
    margin: var(--offset-interno);
    border-radius: calc(var(--br) - var(--offset-interno));
    z-index: 1;
}

@keyframes rotate-out {
    to {
        transform: rotate(90deg);
    }
}

@keyframes rotate-in {
    from {
        transform: rotate(-90deg);
    }
}

::view-transition-old(count),
::view-transition-new(count) {
    animation-duration: 200ms;
    animation-name: -ua-view-transition-fade-in, rotate-in;
}

::view-transition-old(count) {
    animation-name: -ua-view-transition-fade-out, rotate-out;
}