<ion-content [fullscreen]="true">
  <main>
    <form (ngSubmit)="Login()" [formGroup]="form">
      <h1>Login</h1>
      <div class="form-item">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required formControlName="username">
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required formControlName="password">
      </div>
      <div>
        <span>Non hai ancora un account?&nbsp;</span>
        <a href="/registrazione">Registrati</a>
      </div>
      <br>
      <div class="form-item">
        <button type="submit">Login</button>
      </div>
    </form>
  </main>
</ion-content>