<form [formGroup]="form" class="flex-col" #formCambio>
  <span>
    <h1>Ancora un passo...</h1>
    <span>Per motivi di sicurezza, devi cambiare la tua password</span>    
  </span>
  @if(!giorniMancanti){
    <Info [messaggio]="'Recupero delle informazioni...'" />
  }
  @else if(giorniMancanti && giorniMancanti > 0)
  {
    <Info [messaggio]="'Puoi aspettare ancora ' + giorniMancanti + ' giorni, dopo ai quali diventerà obbligatorio '" />
  }
  <div class="form-item">
    <label for="password">Password</label>
    @if (tooltip) {
      <Tooltip/>
    }
    <input type="text" id="password" name="password" required formControlName="password" (input)="Controlla()" (focusin)="MostraTooltip()" (focusout)="tooltip = false">
  </div>
  <div class="form-item">
    <label for="conferma-password">Conferma Password</label>
    <input type="password" id="conferma-password" name="conferma-password" required formControlName="conferma">
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!form.valid" (click)="Cambia()" class="btn-accento">Continua</button>
    <button type="submit" [disabled]="!giorniMancanti || giorniMancanti <= 0" (click)="router.navigate(['/home'])">Salta</button>
  </div>
  
</form>