:host{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    background-color: #FFF;
    border-radius: 1.5rem;
}

#wrapperAside{
    align-items: center;
    flex-grow: 1;
}

#wrapperHead{
    gap: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    padding-block: 1rem 2rem;

    img{
        height: 3rem;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 100vh;
    }
}

.wrapper-logout{
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 1rem;
    gap: 1rem;

    .img, ImmagineProfileDefault{
        height: 3rem;
        aspect-ratio: 1;
        border-radius: 100vh;
        background-color: #AAA;
        caret-color: transparent;
        background-size: cover;
    }

    & > .flex-col{
        flex-grow: 1;
        min-width: 0;

        h6{
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p{
            color: #AAA;
            font-size: .8rem;
        }
    }

    button{
        aspect-ratio: 1;
        border: 1px solid #CCC;
        background-color: #FFF;
        border-radius: .5rem;

        ion-icon{
            scale: 1.5;
        }
    }
}

// #wrapperHead > div{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     flex-direction: row;
//     gap: 0.2rem;
//     padding: 0.5rem;
// }
// img{
//     max-width: 35px;
//     max-height: 35px;
// }

// #wrapperHead > div > span:nth-child(2){
//     font-size: 1.3rem;
//     font-weight: bold;
//     color: hsl(0, 0%, 20%);
//     width: 90%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }