:host{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#wrapperAside{
    background-color: #f2f2f2;
    border-radius: 0 0 0.3rem 0.3rem;
    border: solid 3px #f2f2f2;
    padding: 10% 3% 10% 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0 0 1.5rem 1.5rem;
}

#wrapperHead{
    height: 3%;
    background-color: #f2f2f2;
    padding: 10% 3% 10% 3%;
    border-radius: 1.5rem 1.5rem 0 0;
}

#wrapperHead > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.2rem;
    padding: 0.5rem;
}
img{
    max-width: 35px;
    max-height: 35px;
}
#wrapperHead > div > span:nth-child(2){
    font-size: 1.3rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}