<div class="flex-row">
  <input type="text" placeholder="0" [(ngModel)]="sinc.caratteriCodice[0]">
  <input type="text" placeholder="0" [(ngModel)]="sinc.caratteriCodice[1]">
  <input type="text" placeholder="0" [(ngModel)]="sinc.caratteriCodice[2]">
  <div class="separatore"></div>
  <input type="text" placeholder="0" [(ngModel)]="sinc.caratteriCodice[3]">
  <input type="text" placeholder="0" [(ngModel)]="sinc.caratteriCodice[4]">
  <input type="text" placeholder="0" [(ngModel)]="sinc.caratteriCodice[5]">
</div>