<div class="flex-row">
  <input type="number" class="numero-singolo" placeholder="0" [(ngModel)]="sinc.numeriCodice[0]">
  <input type="number" class="numero-singolo" placeholder="0" [(ngModel)]="sinc.numeriCodice[1]">
  <input type="number" class="numero-singolo" placeholder="0" [(ngModel)]="sinc.numeriCodice[2]">
  <div class="separatore"></div>
  <input type="number" class="numero-singolo" placeholder="0" [(ngModel)]="sinc.numeriCodice[3]">
  <input type="number" class="numero-singolo" placeholder="0" [(ngModel)]="sinc.numeriCodice[4]">
  <input type="number" class="numero-singolo" placeholder="0" [(ngModel)]="sinc.numeriCodice[5]">
</div>