<form [formGroup]="form" class="flex-col" #formCambio>
  <img src="assets/google-logo.svg" class="logo"/>
  <span class="wrapper-transizione flex-col">
    <span class="flex-col jc-c">
      <h1>Ancora un passo...</h1>
      <div class="piccolo">Per motivi di sicurezza devi cambiare la password</div>
    </span>
  </span>
  @if(!giorniMancanti){
    <Info [messaggio]="'Recupero delle informazioni...'" />
  }
  @else if(giorniMancanti && giorniMancanti > 0)
  {
    <Info [messaggio]="'Puoi aspettare ancora ' + giorniMancanti + ' giorni, dopo ai quali diventerà obbligatorio '" />
  }
  <div class="form-item">
    @if (tooltip) {
      <Tooltip [@appari]/>
    }
    <InputPassword
      id-input="password"
      formControlName="password"
      testo-label="Password"
      (onInput)="Controlla($event)"
      (focusIn)="MostraTooltip()"
      (focusOut)="tooltip = false"
    />
  </div>
  <div class="form-item">
    <InputPassword
      id-input="conferma"
      formControlName="conferma"
      testo-label="Conferma password"
      [disabilitato]="!servizio.valido"
      (onInput)="null"
    />
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!form.valid" (click)="Cambia()" class="btn-accento">Continua</button>
    @if (giorniMancanti && giorniMancanti > 0) {
      <button type="submit" (click)="router.navigate(['/home'])">Salta</button>
    }
  </div>
  
</form>