<form [formGroup]="form" class="flex-col" #formCambio>
  <img src="assets/google-logo.svg" class="logo"/>
  <span class="wrapper-transizione flex-col">
    <span class="flex-col jc-c">
      <h1>Ancora un passo...</h1>
      <div class="piccolo">
        <span>Per motivi di sicurezza devi cambiare la password</span>
      </div>
    </span>
  </span>
  @if(sinc.giorniMancanti && sinc.giorniMancanti > 0)
  {
    <Info [messaggio]="'Tra ' + sinc.giorniMancanti + ' giorn' + (sinc.giorniMancanti == 1 ? 'o' : 'i') + ' sarà obbligatorio'" />
  }
  <div class="form-item">
    @if (tooltip) {
      <Tooltip [@appari]/>
    }
    <InputPassword
      id-input="password"
      formControlName="password"
      testo-label="Password"
      (onInput)="Controlla($event)"
      (focusIn)="MostraTooltip()"
      (focusOut)="tooltip = false"
    />
  </div>
  <div class="form-item">
    <InputPassword
      id-input="conferma"
      formControlName="conferma"
      testo-label="Conferma password"
      [disabilitato]="!servizio.valido"
      [messaggio-errore]="sinc.errori['conferma']"
      (onInput)="sinc.errori['conferma'] = ''"
      (onChange)="sinc.errori['conferma'] = !form.valid ? 'Le password non corrispondono' : ''"
    />
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!form.valid" (click)="Cambia()" class="btn-accento">Continua</button>
    @if (sinc.giorniMancanti && sinc.giorniMancanti > 0) {
      <button type="button" (click)="router.navigate(['/home'])">Salta</button>
    }
  </div>
  
</form>