<form (ngSubmit)="CambiaPassword()" [formGroup]="form" class="flex-col" #formHtml>
  <img src="assets/google-logo.svg" class="logo"/>
  <span class="flex-col jc-c">
    <h1>Reset Password</h1>
    <div class="piccolo">
      <span>Inserisci la tua nuova password</span>
    </div>
  </span>
  <div class="form-item">
    <InputPassword 
      name="password"
      testo-label="Nuova Password"
      id-input="reset-password" 
      formControlName="password"
      icona="lock-closed"
      (onInput)="Controlla($event); sinc.Aggiorna($event, form.valid)"
      (focusIn)="MostraTooltip()" 
      (focusOut)="tooltip = false"
    />
    @if(tooltip){
      <Tooltip [@appari]/>
    }
  </div>
  <div class="form-item">
    <InputPassword 
      name="conferma"
      testo-label="Conferma password"
      id-input="conferma-password" 
      formControlName="conferma"
      icona="lock-closed" 
    />
  </div>
  <div class="form-item">
    <button type="submit" class="btn-accento" [disabled]="!form.valid || !servizio.valido">Cambia Password</button>
  </div>
</form>