:host{
    background-color: transparent;
    width: 15dvw;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#wrapperAside{
    background-color: #f2f2f2;
    width: 90%;
    height: 95%;
    border-radius: 0 0 0.3rem 0.3rem;
    border: solid 3px #f2f2f2;
    padding: 10% 3% 10% 3%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
}
#wrapperHead{
    width: 90%;
    height: 5%;
    background-color: #f2f2f2;
    padding: 10% 3% 10% 3%;
    box-sizing: border-box;
    margin-right: 2rem;
}
img{
    max-width: 40px;
    max-height: 40px;
}