/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root{
    --sfondo: #e6e6e6;
    --op1: color-mix(in hsl, #000 25%, transparent);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row, .flex-col{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.jc-c{
    justify-content: center;
}

.al-c{
    align-items: center;
}

input[type="text"],
input[type="password"]{
    padding: .5rem 1rem;
    border: 0;
    border-radius: 1rem;
    background-color: #e6e6e6;
    // outline: 1px solid color-mix(in srgb, #e6e6e6 50%, #000 50%);
}

button{
    --dim: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--dim) * 0.75);
    gap: calc(var(--dim) / 2);
    width: 100%;
    border-radius: 100vh;
    background-color: #F2F2F2;
    color: inherit;
    font-size: var(--dim);
    cursor: pointer;
}

button:disabled{
   opacity: .5;
}

.btn-accento{
    color: #F2F2F2;
    background-color: #2b2b2b;
}

.logo{
    user-select: none;
    caret-color: transparent;
}