:host{
    --gap: 2rem;
    width: 85%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-left: auto;
    background-color: #FFF;
    gap: var(--gap);

    & > div{
        display: grid;
        grid-template-columns: 1fr .75fr;
    }
}

h1{
    font-size: 3rem;
}

button{
    font-size: 1.1rem;
    padding: .5rem 1rem;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    user-select: none;
    caret-color: transparent;
    transition: opacity .3s;

    &:disabled{
        opacity: .5;
    }

    ion-icon{
        font-size: 1.5rem;
        scale: 1.2;
    }

    &.accento{
        background-color: var(--accento);
        color: #FFF;
        border-color: transparent;
    }

    *{
        color: inherit;
    }
}


.wrapper{
    gap: var(--gap);
    height: 50%;

    &.no-immagini{
        display: flex;
        justify-content: center;
        align-items: center;

        google-map{
            width: 100%;
            height: 100%;
        }
    }

    google-map::ng-deep{
        border: 1.5px solid #CCC;
        border-radius: .5rem;
        overflow: clip;
        min-width: 50%;

        & > div{
            width: unset !important;
            height: 100% !important;
        }
    }

    .cella-info{
        border-radius: 1rem;
        flex-grow: 1;
        border: 1px solid #CCC;
    }
}

.cont-info{
    flex-grow: 1;
    gap: var(--gap);

    & > *{
        width: 50%;

    }

    main{
        gap: var(--gap);
        width: 100%;

        h1{
            font-size: 4rem;
            margin-bottom: 0;
        }

        .row-button{
            gap: var(--gap);

            button{
                flex-grow: 1;
            }
        }
    }

    p{
        color: #AAA;
        font-size: 1.3rem;
    }

    .cella-info{
        width: 100%;
        justify-content: space-between;
        border: 1px solid #CCC;
        padding: 1rem;
        border-radius: .5rem;

        hr{
            width: 100%;
            height: 1px;
            background-color: #CCC;
        }

        .info{
            padding: 1rem;
            gap: calc(var(--gap) / 4);
            flex-grow: 1;
            justify-content: center;

            ion-icon{
                scale: 1.2;
            }

            span{
                color: #AAA;
                gap: calc(var(--gap) / 4);
            }

            p{
                color: #000;
                font-size: 1.5rem;
            }

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                padding-bottom: 0;
            }
        }
    }
}

//stili mappa brutti brutti
google-map::ng-deep{

    & > div > div > div.gm-style > div:nth-child(16) > div,
    div > div > div.gm-style > div:nth-child(14) > div{
        display: none !important;

    }

    div > div > div.gm-style > div:nth-child(7) > div > div > div{
        border-radius: .25rem !important;
        overflow: clip !important;

        button{
            position: relative;

            img{
                visibility: hidden !important;
            }

            &::before{
                content: '';
                position: absolute;
                inset: 0;
                scale: .75;
            }
            
            &:nth-child(1)::before{
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon s-ion-icon" viewBox="0 0 512 512"><path fill="%23245c73" d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z" ></path></svg>');
                transform: rotate(45deg);
            }

            &:nth-child(3)::before{
                transform: rotateX(82deg);
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon s-ion-icon" viewBox="0 0 512 512"><path fill="%23245c73" d="M392 432H120a40 40 0 0 1-40-40V120a40 40 0 0 1 40-40h272a40 40 0 0 1 40 40v272a40 40 0 0 1-40 40z"/></svg>');
            }
        }
    }

    div > div > div.gm-style > div:nth-child(7) > div > button{
        border-radius: .25rem !important;
        overflow: clip !important;

        & > div{
            filter: hue-rotate(157deg) brightness(.57) saturate(.88) contrast(1.2);
        }
    }

    & > div > div > div.gm-style > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(3) > img{
        filter: hue-rotate(157deg) brightness(.57) saturate(.88) contrast(1.2);
    }
}