:host{
    --gap: 2rem;
    width: 85%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-left: auto;
    background-color: #FFF;
    gap: var(--gap);

    & > div{
        display: grid;
        grid-template-columns: 1fr .75fr;
    }
}

h1{
    font-size: 3rem;
}

button{
    font-size: 1.1rem;
    padding: .5rem 1rem;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    user-select: none;
    caret-color: transparent;
    transition: opacity .3s;

    &:disabled{
        opacity: .5;
    }

    ion-icon{
        font-size: 1.5rem;
        scale: 1.2;
    }

    &.accento{
        background-color: var(--accento);
        color: #FFF;
        border-color: transparent;
    }

    *{
        color: inherit;
    }
}


.wrapper{
    gap: var(--gap);
    height: 50%;

    &.no-immagini{
        display: flex;
        justify-content: center;
        align-items: center;

        google-map{
            width: 100%;
            height: 100%;
        }
    }

    google-map::ng-deep{
        border: 1.5px solid #CCC;
        border-radius: .5rem;
        overflow: clip;
        min-width: 50%;

        & > div{
            width: unset !important;
            height: 100% !important;
        }
    }

    .cella-info{
        border-radius: 1rem;
        flex-grow: 1;
        border: 1px solid #CCC;
    }
}

.cont-info{
    flex-grow: 1;
    gap: var(--gap);

    & > *{
        width: 50%;

    }

    main{
        gap: var(--gap);
        width: 100%;

        h1{
            font-size: 4rem;
            margin-bottom: 0;
        }

        .row-button{
            gap: var(--gap);

            button{
                flex-grow: 1;
            }
        }
    }

    p{
        color: #AAA;
        font-size: 1.3rem;
    }

    .cella-info{
        width: 100%;
        justify-content: space-between;
        border: 1px solid #CCC;
        padding: 1rem;
        border-radius: .5rem;

        hr{
            width: 100%;
            height: 1px;
            background-color: #CCC;
        }

        .info{
            padding: 1rem;
            gap: calc(var(--gap) / 4);
            flex-grow: 1;
            justify-content: center;

            ion-icon{
                scale: 1.2;
            }

            span{
                color: #AAA;
                gap: calc(var(--gap) / 4);
            }

            p{
                color: #000;
                font-size: 1.5rem;
            }

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                padding-bottom: 0;
            }
        }
    }
}