<form [formGroup]="form" class="flex-col" #formCambio>
  <img class="logo" src="assets/google-logo.svg" #logo/>
  <span class="flex-col jc-c">
    <h1>Recupero Credenziali</h1>
    <span class="piccolo flex-row jc-c">Ti invieremo una mail per il recupero dei dati</span>    
  </span>

  <div class="form-item">
    <label for="mail-recupero">E-Mail</label>
    <input type="text" id="mail-recupero" name="mail-recupero" required formControlName="mail-recupero">
  </div>

  <div class="form-item">
    <button type="submit" [disabled]="!form.valid" class="btn-accento">Invia</button>
    <a href="/login" class="piccolo">Torna al login</a>
  </div>
  
</form>