<header class="flex-row">
  <div class="flex-col">
    <h1>Utenti</h1>
    <p>Visualizza e modifica utenti</p>
  </div>
  <div class="flex-row">
    <button >
      <ion-icon name="arrow-down"></ion-icon>
      <span>Esporta CSV</span>
    </button>
    <button class="accento" >
      <ion-icon name="add"></ion-icon>
      <span>Nuovo utente</span>
    </button>
  </div>
</header>
<main class="flex-row">
  <div class="padding"></div>
  <div class="wrapper flex-col">
    <div class="cont-carte flex-row">
      <div class="angolo"></div>
      <div class="angolo"></div>
      <div class="angolo"></div>
      <div class="angolo"></div>

      <div class="carta"></div>
      <div class="carta"></div>
      <div class="carta"></div>
      <div class="carta"></div>
    </div>
    <div class="cont-utenti">
    <hr/>
      <div class="flex-row">
        <div class="cont-bottoni flex-row">
          
        </div>
      </div>
    </div>
  </div>
  <div class="padding"></div>
</main>
<footer></footer>
