<header class="flex-row">
  <div class="flex-col">
    <h1>Utenti</h1>
    <p>Visualizza e modifica utenti</p>
  </div>
  <div class="flex-row">
    <button (click)="EsportaCSV()">
      <ion-icon name="arrow-down"></ion-icon>
      <span>Esporta CSV</span>
    </button>
    <button class="accento" >
      <ion-icon name="add"></ion-icon>
      <span>Nuovo utente</span>
    </button>
  </div>
</header>
<main class="flex-row">
  <div class="padding"></div>
  <div class="wrapper flex-col">
    <div class="cont-carte flex-row">
      <div class="angolo"></div>
      <div class="angolo"></div>
      <div class="angolo"></div>
      <div class="angolo"></div>
      <div class="carta">
        <p>Perizie in corso</p>
        <h1>
          <span>123</span>
          <ion-icon name="arrow-up"></ion-icon>
        </h1>
      </div>
      <div class="carta">
        <p>Perizie completate oggi</p>
        <h1>
          <span>123</span>
          <ion-icon name="arrow-down"></ion-icon>
        </h1>
      </div>
      <div class="carta">
        <p>Dipendenti totali</p>
        <h1>
          <span>123</span>
          <ion-icon name="arrow-up"></ion-icon>
        </h1>
      </div>
      <div class="carta">
        <p>Dipendenti attivi oggi</p>
        <h1>
          <span>123</span>
          <ion-icon name="arrow-up"></ion-icon>
        </h1>
      </div>
    </div>
    <div class="cont-utenti flex-col">
      <hr/>
      <h1>Dipendenti</h1>
      <div class="flex-row">
        <div class="flex-row">
          <BottoniOpzione (onChange)="CambiaMod($event)" [opzioni]="opzioniDipendenti"/>
          @if (tabella.selezionati.length) {
            <div class="wrapper-menu flex-row jc-c">
                <p-menu #menu 
                  [model]="[opzioneElimina, tabella.selezionati.length == 1 ? opzioneCreaChat : opzioneCreaGruppo]" 
                  [popup]="true" 
                  appendTo="body">
                </p-menu>
                <button type="button" (click)="menu.toggle($event)" class="flex-row al-c" [@appari]>
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </button>
            </div>
          }
        </div>
        <BarraRicerca (onCerca)="tabella.nome = $event"/>
      </div>
      <TabellaUtenti (utenteSelezionato)="MostraPannelloUtente()"/>
    </div>
  </div>
  <div class="padding"></div>
</main>
<footer></footer>

<dialog #modaleElimina  id="dialogoElimina">
  <div class="flex-col al-c jc-c">
    <ion-icon name="alert-circle"></ion-icon>
    <span>
      <h1>Elimina Utent{{ tabella.selezionati.length > 1 ? 'i' : 'e' }}</h1>
      <p>
        Stai per eliminare {{tabella.selezionati.length > 1 ? tabella.selezionati.length : 'un'  }} utent{{ tabella.selezionati.length > 1 ? 'i' : 'e' }},<br>
        questa azione è irreversibile.
      </p>
    </span>
    <div class="flex-row jc-c">
      <button (click)="EliminaUtenti()" class="elimina">Elimina</button>
      <button (click)="ChiudiModale(modaleElimina)">Annulla</button>
    </div>
  </div>
</dialog>

@if(tabella.utenteVisualizzato && tabella.utenteModificato){
  <dialog #modaleUtente id="dialogoModifica" class="flex-row">
    <div class="nav-dialogo flex-col">
      <button class="opzione selezionata flex-row">
        <ion-icon name="person-circle"></ion-icon>
        <span>Informazioni Personali</span>
      </button>
      <button class="opzione flex-row">
        <ion-icon name="file-tray-full"></ion-icon>
        <span>Perizie</span>
      </button>
    </div>
    <div class="pagina-dialogo">
      <h1>Modifica utente</h1>
      <div class="wrapper flex-col">
        <div class="flex-row">
          @if (tabella.utenteModificato.pfp) {
            <img [src]="tabella.utenteModificato.pfp" class="immagine-utente">
          }
          @else {
            <ImmagineProfileDefault [nome]="tabella.utenteModificato.cognome" class="immagine-utente"/>
          }
          <div class="flex-col cambia-immagine jc-c">
            <button>
              {{ tabella.utenteModificato.pfp ? 'Modifica immagine' : 'Aggiungi immagine' }}
            </button>
            <p>
              È consigliato utilizzare un'immagine quadrata di almeno 200x200 pixel.<br>
              I formati supportati sono JPG e PNG.
            </p>
          </div>
        </div>
        <hr/>
        <div class="info-utente sopra">
          <div class="flex-row header-info">
            <h3>Informazioni personali</h3>
            @if(modificaInfoPersonali)
            {
              <div class="flex-row row-bottoni">
                <button (click)="ResettaInfoPersonali()">
                  <ion-icon name="close"></ion-icon>
                  <span>Annulla</span>
                </button>
                <button class="accento">
                  <ion-icon name="checkmark"></ion-icon>
                  <span>Applica</span>
                </button>
              </div>
            }
            @else {
            <button (click)="modificaInfoPersonali = true">
              <i class="pi pi-pencil"></i>
              <span>Modifica</span>
            </button>
            }
          </div>
          <form class="cont-utente" [formGroup]="formInfoPersonali">
            <InputText 
              icona="person" 
              name="info-nome"
              id-input="info-nome"
              testo-label="Nome" 
              formControlName="nome"
              [mockup]="!modificaInfoPersonali" 
            />
            <InputText 
              icona="person" 
              name="info-cognome"
              id-input="info-cognome"
              testo-label="Cognome" 
              formControlName="cognome"
              [mockup]="!modificaInfoPersonali" 
            />
            <InputText 
              icona="at" 
              name="info-username"
              id-input="info-username"
              testo-label="Username" 
              formControlName="username"
              [mockup]="!modificaInfoPersonali" 
            />
            <InputText 
              icona="mail" 
              name="info-mail"
              id-input="info-mail"
              testo-label="E-Mail" 
              formControlName="email"
              [mockup]="!modificaInfoPersonali" 
            />
            <InputText 
              icona="call" 
              name="info-telefono"
              id-input="info-telefono"
              testo-label="Telefono" 
              formControlName="telefono" 
              [mockup]="!modificaInfoPersonali" 
            />
            <Dropdown 
              testo-label="2FA Abilitato"
              name="info-2FA"
              id-input="info-2FA"
              icona="lock-closed" 
              formControlName="2FA"
              [mockup]="!modificaInfoPersonali" 
              [disabilitato]="!tabella.utenteModificato.telefono" 
              [opzioni]="opzioniSiNo" 
            />
          </form>
        </div>
        <form class="info-utente" [formGroup]="formInfoLavoro">
          <div class="flex-row header-info">
            <h3>Informazioni lavoro</h3>
            <button>
              <i class="pi pi-pencil"></i>
              <span>Modifica</span>
            </button>
          </div>
          <div class="cont-utente">
            <Dropdown 
              testo-label="Ruolo" 
              icona="briefcase"
              formControlName="ruolo"
              [mockup]="true"  
              [opzioni]="opzioniRuolo" 
            />
            <InputText 
              icona="calendar" 
              testo-label="Assunto Il" 
              [mockup]="true" 
              formControlName="assuntoIl"
            />
            <Dropdown 
              testo-label="Attivo"
              formControlName="attivo"
              icona="accessibility" 
              [mockup]="true"  
              [opzioni]="opzioniSiNo" 
            />
            <InputText icona="file-tray-full" testo-label="Perizie attive" [mockup]="true" valore="1"/>
          </div>
        </form>
      </div>
    </div>
  </dialog>
}